<!DOCTYPE html>
<html lang="en">
<head>
  <title>Engine</title>
  
  <!-- Electron specific  -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

  <!-- JQuery -->
  <script src="../libs/bootstrap/jquery.js"></script>
  
  <!-- Bootstrap -->
  <link rel="stylesheet" href="../libs/bootstrap/bootstrap.css">
  <script src="../libs/bootstrap/bootstrap.js"></script>
  <script src="../libs/bootstrap/bundle.js"></script>
  
  <!-- Electron specific  -->
  <script>if (window.module) module = window.module;</script>

</head>
<body style="background-color: #dddddd;">
  engine match
  <script src="../scripts/engine_match.js"></script>
</body>
</html>
