<!DOCTYPE html>
<html lang="en">
<head>
  <title>Engine</title>
  
  <!-- Electron specific  -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

  <!-- JQuery -->
  <script src="../libs/bootstrap/jquery.js"></script>
  
  <!-- Bootstrap -->
  <link rel="stylesheet" href="../libs/bootstrap/bootstrap.css">
  <script src="../libs/bootstrap/bootstrap.js"></script>
  <script src="../libs/bootstrap/bundle.js"></script>
  
  <!-- Electron specific  -->
  <script>if (window.module) module = window.module;</script>

</head>
<body style="background-color: #dddddd;">
  <div style="margin-left: 1px; margin-right: 1px;">
    <textarea id="output" class="form-control m-0" spellcheck="false" style="width: 100%; height: 419px; resize: none; border: 2px solid #404040;"></textarea>
    <div class="col btn-group p-0" style="margin-top: 1px;">
      <button class="btn btn-outline-secondary text-dark bg-light font-weight-bold" style="border: 2px solid #404040;" title="Load engine" onclick="loadEngine();">Load</button>
      <input type="text" id="command" spellcheck="false" style="width: 100%; margin-left: 1px; margin-right: 1px;">
      <button class="btn btn-outline-secondary text-dark bg-light font-weight-bold" style="border: 2px solid #404040;" title="Send command to engine" onclick="sendCommand();">Send</button>
    </div>
  </div>
  <script src="../scripts/engine_debug.js"></script>
</body>
</html>
