<!DOCTYPE html>
<html>
<head>
  <title>CCBridge JS</title>
  
  <!-- Main window css -->
  <style type="text/css">
    .scrollable-menu {
      height: 494px;
      max-height: 494px;
      overflow-x: hidden;
    }
  </style>
  
  <!-- Electron specific  -->
  <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

  <!-- JQuery -->
  <script src="../libs/bootstrap/jquery.js"></script>
  
  <!-- Bootstrap -->
  <link rel="stylesheet" href="../libs/bootstrap/bootstrap.css">
  <script src="../libs/bootstrap/bootstrap.js"></script>
  <script src="../libs/bootstrap/bundle.js"></script>
  
  <!-- chessboardjs -->
  <link rel="stylesheet" href="../libs/xiangqiboardjs-0.3.3/css/xiangqiboard-0.3.3.css">
  <script src="../libs/xiangqiboardjs-0.3.3/js/xiangqiboard-0.3.3.js"></script>
  
  <!-- Built in Xiangqi engine Wukong -->
  <script src="../libs/wukong/wukong.js"></script>
  
  <!-- Electron specific  -->
  <script>if (window.module) module = window.module;</script>

</head>
<body>
  <!-- Dong Ping Xiangqi game editor -->
  <script src="../scripts/dpxq.js"></script>
  
  <div class="m-0 p-0 mt-1" style="position: absolute; left: 500px;">
    <div class="row m-0 p-0">
      <!-- Xiangqi board -->
      <div class="col m-0 p-0">  
        <div id="xiangqiboard" style="width: 450px"></div>
      </div>
      
      <!-- Move list -->
      <div class="col m-0 p-0">
        <div class="card m-0 p-0" style="width: 145px; height: 494px;">
          <div class="card-body m-0 p-0">
            <ul id = "movelist" class="list-group scrollable-menu">
              <li class="btn list-group-item bg-light m-0 p-0" style="font-size: 16px; font-weight: bold;">Move list</li>
              <li id="UBB_move_0" class="btn list-group-item list-group-item-action bg-primary text-white text-center m-0 p-0" onclick="updateGUIboard('First')">Start</li>
            </ul>
          </div>
        </div>
      </div>
      
      <div class="col m-0 p-0 ml-1">
        <!-- Comments -->
        <div class="card m-0 p-0 mb-1" style="width: 250px;">
          <div class="card-body m-0 p-0">
            <li class="btn list-group-item bg-light m-0 p-0" style="font-size: 16px; font-weight: bold;">
              <button class="col btn btn-sm btn-outline-secondary" style="font-size: 16px; font-weight: bold;" onclick="editComment()">Add comment...</button>
            </li>
            <textarea id="comments" class="form-control m-0 p-0" style="width: 100%; resize: none; height: 289px;" spellcheck="false"></textarea>
          </div>
        </div>
        
        <!-- Variation list -->
        <div class="card m-0 p-0" style="width: 250px; height: 162px;">
          <div class="card-body m-0 p-0">
            <ul id = "variationlist" class="list-group scrollable-menu">
              <li class="btn list-group-item bg-light m-0 p-0" style="font-size: 16px; font-weight: bold;">Variations</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row m-0 p-0">
      <div class="col m-0 p-0">
        <!-- Game controls -->
        <div class="col m-0 p-0 mt-1 btn-group" style="width: 450px;">
          <button class="btn btn-outline-secondary text-dark bg-light font-weight-bold mr-1" onclick="copyPgn();" title="Paste PGN game from clipboard">Export PGN</button>
          <button class="btn btn-outline-secondary text-dark bg-light font-weight-bold mr-1" onclick="copyUbb();" title="Copy UBB game to clipboard">Export UBB</button>
          <button class="btn btn-outline-secondary text-dark bg-light font-weight-bold mr-1" onclick="pasteUbb();" title="Paste UBB game from clipboard">Import UBB</button>
          <button class="btn btn-outline-secondary text-dark bg-light font-weight-bold mr-1" onclick="board.flip();" title="Flip board">⇅</button>
        </div>
      </div>
      <div class="col m-0 p-0">
        <!-- Move list controls -->
        <div class="col m-0 p-0 mt-1 btn-group" style="width: 100%;">
          <button class="btn btn-outline-secondary text-dark bg-light font-weight-bold mr-1" onclick="updateGUIboard('First');" title="Go to first move">⮜⮜</button>
          <button class="btn btn-outline-secondary text-dark bg-light font-weight-bold mr-1" onclick="updateGUIboard('Prev');" title="Go to previous move">⮜</button>
          <button class="btn btn-outline-secondary text-danger bg-light font-weight-bold mr-1" onclick="deleteMove();" title="Delete move/moves/variation">❌</button>
          <button class="btn btn-outline-secondary text-dark bg-light font-weight-bold mr-1" onclick="updateGUIboard('Next');" title="Go to next move">⮞</button>
          <button class="btn btn-outline-secondary text-dark bg-light font-weight-bold mr" onclick="updateGUIboard('Last');" title="Go to last move">⮞⮞</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Main window script -->
  <script src="../scripts/mainWindow.js"></script>
  
</body>
</html>












